{% extends 'bases.html' %}

{% block content %}
<h1>bienvenue sur la page de connexion</h1>
<h2>cette page est encore en production contacter notre equipe pour vous inscrir</h2>

<div class="form_connexion">
{% csrf_token %}
    <form action="{% url 'mon' %}"method="post">
{% csrf_token %}       
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required><br>

        <button class="btn" type="submit">se connecter</button>


    </form>
</div>


{% endblock %}